In [4]:
import pandas as pd
titanic=pd.read_csv("titanic_train.csv")
print(titanic.shape)
#import numpy as np
#data=np.loadtxt("data.csv",delimiter=",")
#x=data[:,0].reshape(-1,1)
#y=data[:,1]

(891, 12)

In [13]:
titanic.head()

   y     x
0  0  22.0
1  1  38.0
2  1  26.0
3  1  35.0
4  0  35.0

In [37]:
# Renaming the survived and age as y and x
titanic.columns=['y' , 'x']
titanic.head()
titanic.dropna(inplace=True)
print(titanic.shape)
x=titanic['x'].values.reshape(-1,1)
y=titanic['y'].values.reshape(-1,1)
# x.shape

(714, 2)

In [19]:
x.shape

(714, 1)

In [23]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(x,y)

In [24]:
X_train.shape

(535, 1)

In [26]:
def fit(x_train,y_train):
    num=(x_train*y_train).mean() -x_train.mean()*y_train.mean()
    den=(x_train**2).mean() - x_train.mean()**2
    m=num/den
    c=y_train.mean() -m*x_train.mean()
    return m,c

In [32]:
def predict(x,m,c):
    return m*x+c

def score(y_truth,y_predict):
    u = ((y_truth - y_pred)**2).sum()
    v=((y_truth-y_truth.mean())**2).sum()
    return 1 - u/v

def cost(x,y,m,c):
    return (y-(m*x+c)**2).mean()

In [39]:
m,c=fit(X_train,Y_train)

#test data
y_pred=predict(X_test,m,c)
print("Test score: ",score(Y_test,y_pred))


#train data

y_train_pred=predict(X_train,m,c)
print("Train score: ",score(Y_train,y_train_pred))
print("m ","c ",m,c)

print("cost on training data ",cost(X_train,Y_train,m,c)

SyntaxError: unexpected EOF while parsing (<ipython-input-39-b7254860de22>, line 14)

In [38]:
#it is not giving in this data set because i am not able to change into 1-d numpy array